body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.banner a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 8px 10px;
    margin: 0 3px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.banner a:hover {
    background-color: #575757;
}

.hero-banner {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2em;
    text-shadow: 2px 2px 4px #000;
    padding: 20px;
    margin-top: 60px;
    background-size: cover;
}

.hero-banner.home {
    background: url('banners/home-banner.jpg') no-repeat center center;
}

.hero-banner.overwatch {
    background: url('banners/overwatch-banner.jpg') no-repeat center center;
}

.hero-banner.fortnite {
    background: url('banners/fortnite-banner.jpg') no-repeat center center;
}

.tabcontent {
    padding: 20px;
    margin-top: 20px;
}

.features {
    margin-top: 30px;
}

.feature-item {
    display: block;
    background-color: #1e1e1e;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #e0e0e0;
    transition: background-color 0.3s, transform 0.3s;
}

.feature-item:hover {
    background-color: #333;
    transform: translateY(-5px);
}

.countdown-box {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
}

.countdown-box h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff9800;
}

.countdown {
    font-size: 3em;
    color: #ffeb3b;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-top: 10px;
}

.patch-notes-box {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
}

.patch-notes-box h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff9800;
}

.patch-notes-link {
    color: #ffeb3b;
    text-decoration: none;
    font-weight: bold;
}

.patch-notes-link:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #e0e0e0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
