body.home {
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.banner a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 8px 10px;
    margin: 0 3px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.banner a:hover {
    background-color: #575757;
}

.hero-banner.home {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('banners/home-banner.jpg') no-repeat center center;
    background-size: cover;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000;
    padding: 20px;
    margin-top: 60px;
    text-align: center;
}

.hero-banner.home h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-banner.home p {
    font-size: 1.2em;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.section-overwatch,
.section-fortnite {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    margin-bottom: 20px;
    text-align: center;
}

.section-overwatch h2 {
    color: #FA9C1D;
}

.section-fortnite h2 {
    color: #5FCEEA;
}

.cta-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    transition: background-color 0.3s;
}

.section-overwatch .cta-button:hover {
    background-color: #FA9C1D;
}

.section-fortnite .cta-button:hover {
    background-color: #5FCEEA;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #e0e0e0;
    position: relative;
    width: 100%;
}
