/* Image background */
body {
    background: url('../../design/background.png') no-repeat center center fixed;
    background-size: cover; 
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body.light-mode {
    filter: invert(1) hue-rotate(180deg); /* Invert colors */
}

/* Font face for BigNoodleTitling */
@font-face {
    font-family: 'BigNoodleTitling';
    src: url('fonts/BigNoodleTitling.ttf') format('truetype');
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'BigNoodleTitling', sans-serif;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px; /* Adjust width as needed */
    height: 100vh; /* Full height of the viewport */
    background: rgba(14, 14, 14, 0.7); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Optional: adds a blur effect to the background */
    color: #e0e0e0;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 20px 0;
}

.navbar a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #FA9C1D;
}

/* Adjust font sizes */
h1 {
    font-size: 3em; /* Bigger headers */
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

body {
    font-size: 2em; /* Bigger body text */
}

body.light-mode {
    filter: invert(1) hue-rotate(180deg);
}

body.light-mode .navbar,
body.light-mode .content,
body.light-mode .footer,
body.light-mode .hero-banner.overwatch {
    filter: invert(1) hue-rotate(180deg); /* Invert these elements back to normal */
}


/* Footer styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(23, 23, 23, 0.7); /* Semi-transparent */
    color: #a0a0a0; /* Lighter color */
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8em; /* Smaller font size */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow */
    transition: opacity 0.5s; /* Smooth transition */
}

footer:hover {
    opacity: 1;
}

footer:not(:hover) {
    opacity: 0.1; /* Make it less visible when not hovered */
}

