body {
    background: url('../../design/background.png') no-repeat center center fixed;
    background-size: cover; 
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

/* Font face for BigNoodleTitling */
@font-face {
    font-family: 'BigNoodleTitling';
    src: url('fonts/BigNoodleTitling.ttf') format('truetype');
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'BigNoodleTitling', sans-serif;
}

.wrapper {
    max-width: calc(100% - 400px); /* Ensure wrapper doesn't exceed the screen width */
    margin: 0 auto;
}
/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px; /* Adjust width as needed */
    height: 100vh; /* Full height of the viewport */
    background: rgba(14, 14, 14, 0.7); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Optional: adds a blur effect to the background */
    color: #e0e0e0;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 20px 0;
}

.navbar a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #FA9C1D;
}

/* Adjust font sizes */
h1 {
    font-size: 3em; /* Bigger headers */
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

body {
    font-size: 2em; /* Bigger body text */
}

.wrapper {
    margin: 0 auto;
    padding: 0 40px;
    max-width: calc(100% - 80px);
}

.banner, .content, .footer {
    width: calc(100% - 60px);
}

.banner a {
    color: #e0e0e0;
    text-decoration: none;
    padding: 8px 10px;
    margin: 0 3px;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    letter-spacing: 0.05em;
}

.banner a:hover {
    background-color: #575757;
}

.hero-banner.player-stats {
    background: url('../../banners/player-stats-banner.jpg') no-repeat center center;
    background-size: cover; /* Ensure the image covers the entire banner */
    border: 2px solid #ffffff; /* White outline */
    border-radius: 15px; /* Rounded edges */
    color: #FA9C1D;
    height: 50vh; /* Smaller height */
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    margin-left: 170px; /* 150px for navbar width + 20px space */
    margin-right: 20px;
}

.hero-banner.player-stats h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero-banner.player-stats p {
    font-size: 1.2em;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    backdrop-filter: blur(5px);
   
}

.search-bar input {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 10px;
    font-size: 1em;
    background-color: #FA9C1D;
    color: #ffffff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #000000;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* General Stats Section */
.section.general {
    flex: 1;
    min-width: 300px;
}

/* Damage Role Stats */
.role.damage {
    flex: 1;
    min-width: 300px;
}

/* Support Role Stats */
.role.support {
    flex: 1;
    min-width: 300px;
}

/* Tank Role Stats */
.role.tank {
    flex: 1;
    min-width: 300px;
}
/* Roles section styling */
.section.roles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

/* Adjust individual role containers to fit within roles section */
.role {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}

/* Competitive stats rating */
.competitive-stats .rating {
    margin: 10px 0;
}

.competitive-stats .rating img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

/* Stats box styling */
.stats-box {
    background: rgba(14, 14, 14, 0.7);
    backdrop-filter: blur(5px);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

.stats-box h2 {
    color: #FA9C1D;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Stats content */
#stats-content {
    color: #aca8a3;
    font-size: 1.5em;
    line-height: 1.5em;
}

.player-info {
    display: flex;
    align-items: center; /* Align items on the Y-axis */
    justify-content: flex-start; /* Align items on the X-axis */
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

.player-info {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Create space between items */
    width: 100%;
    margin-bottom: 20px;
}

.player-info img {
    width: 120px; /* Set desired width */
    height: 120px; /* Set desired height */
    border-radius: 50%;
    margin-right: 20px; /* Space between image and username */
}

.player-info p {
    margin: 0 20px; /* Space between username and endorsement */
}

.endorsement {
    margin-left: auto; /* Push endorsement to the far right */
    display: flex;
    align-items: center; /* Align endorsement content vertically */
}

.endorsement p {
    display: flex;
    align-items: center; /* Align text and icon horizontally */
}

.endorsement span {
    margin-right: 10px; /* Space between endorsement text and icon */
}





/* Section styling */
.section {
    margin: 20px 0;
}

.section h3 {
    color: #FA9C1D;
    font-size: 2em;
    margin-bottom: 10px;
}

.section p {
    margin: 5px 0;
}

/* Competitive stats */
.competitive-stats .rating {
    margin: 10px 0;
}

.competitive-stats .rating img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(23, 23, 23, 0.7); /* Semi-transparent */
    color: #a0a0a0; /* Lighter color */
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8em; /* Smaller font size */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow */
    transition: opacity 0.5s; /* Smooth transition */
}

footer:hover {
    opacity: 1;
}

footer:not(:hover) {
    opacity: 0.1; /* Make it less visible when not hovered */
}